.container {
  padding: 0 2rem;
  background-color: var(--dark_desaturated_blue);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.main {
  min-height: 100vh;
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  width: calc(100% - 4rem);
  flex: 1;
  padding: 1rem 0 0 0;
  border-top: 1px solid var(--dark_desaturated_blue);
  justify-content: center;
  align-items: center;
  color: var(--dark_desaturated_blue);
  position: absolute;
  bottom: 1rem;
  font-size: 1rem;
}

.footer Link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .footer {
    width: calc(100% - 2rem);
    padding: 1rem 0 0 0;
    bottom: 1rem;
    font-size: 0.6rem;
  }
}
